html
  body
    ion-view(title='{{note.title}}')
      ion-content.padding
        button.button.button-calm(ng-click='snap()') Take a photo
        button.button.button-energized(ng-click='choose()') Choose a photo
        h6 Date: {{note.updated_at | date : 'medium'}}
        h6 Tags:
          span.tag(ng-repeat='name in note.tags') {{name}} 
        h6 Body:
        blockquote {{note.body}}
        //.list
          //a.item.item-thumbnail-left(ng-repeat='url in note.urls')
        div
          img.noteImage(ng-repeat='url in note.urls' ng-src='{{url}}')

    //ion-view(title='{{friend.name}}')
      //ion-content(has-header='true', padding='true')
