html
  body
    ion-view(title='{{note.title}}')
      ion-content.padding
        h6 Date: {{note.updated_at | date : 'medium'}}
        h6 Tags:
          span.tag(ng-repeat='name in note.tags') {{name}} 
        h6 Body:
        blockquote {{note.body}}

    //ion-view(title='{{friend.name}}')
      //ion-content(has-header='true', padding='true')
