html
  body
    ion-view(title='Your Notes')
      ion-content.padding
        h3(ng-show='!rootuser') Log in to see your notes!
        div(ng-show='rootuser')
          ion-list
            ion-item(ng-repeat='note in notes', type='item-text-wrap', href='#/tab/notes/{{note.note_id}}')
              | {{note.title}}
