html
  body
    ion-view(title='Dashboard')
      ion-content.padding
        h1.headline Dash
        .item.item-avatar
          img(ng-src='{{rootuser.avatar}}')
          h3 {{rootuser.username}}
          h6 You have {{count}} notes
